@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark-blue: #242A41;
  --primary: #1D2130;
  --purple: #583FBC;
  --cyan: #7DE0EA;
  --grey: #585F6F;
  --light-bg: #EDF0F9;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Manrope', 'Roboto', sans-serif;
}


